@import url(/styles/index.css);
body {
  background: var(--background-color-main-1);
  font-family: var(--font-family);
  margin: 0px;
  color: var(--color-button);
}

/*           HEADER             */

header {
  background: inherit;
  height: 60px;
  width: 620px;
  display: flex;
  padding: 0px 12px;
  margin: 0px auto;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.2px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

header a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-left: 4px;
  font-weight: bold;
}

header h1 {
  margin: 0px;
}

header img {
  font-size: 0px;
  margin: 0px;
}

header span {
  display: flex;
  align-items: center;
}

header button {
  height: 32px;
  width: 85px;
  display: flex;
  background: rgba(255, 255, 255, 0.3);
  margin: 0px 5px;
  border-radius: 4px;
  border: 0px;
  color: white;
  font-size: 13px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.headButtonInfo {
  width: 110px;
}

button p {
  margin: 0;
}

/*          ENDHEADER           */

/*           POPUPS             */

/*Help*/

.infoOverlay {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.infoOverlay.active {
  visibility: visible;
}

.infoPopup {
  background: #f8f8f8;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 20px;
  width: 600px;
  height: 600px;
  overflow-y: scroll;
}

.infoPopupCerrar {
  font-size: 16px;
  line-height: 16px;
  display: block;
  text-align: right;
}

/*End Help*/

/*Authors*/

.authorOverlay {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.authorOverlay.active {
  visibility: visible;
}

.authorPopup {
  background: #f8f8f8;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 20px;
  width: 600px;
  height: 600px;
}

.authorPopupMain {
  display: flex;
  flex-direction: row;
}

.authorPopupCerrar {
  font-size: 16px;
  line-height: 16px;
  display: block;
  text-align: right;
}

.author {
  margin: 0px 50px;
  text-align: center;
  height: 80%;
}

/*End Authors*/

/*           END POPSUPS          */

/* Timer styles */
.timerContainer {
  border-radius: 10px;
  text-align: center;
  margin-block-start: 100px;
  background: var(--color-shadow-grey);
  padding: 20px;
  width: 25%;
  margin-inline: auto;
}

.timerContainer .timerOptions {
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style: none;
  padding: 0px;
}

.timerContainer .timerOptions li {
  background: var(--color-dark-shadow-1);
  margin-inline: 10px;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
}

.timerContainer .timer p {
  margin: 0;
}

.timerContainer .timer {
  font-size: 140px;
  font-weight: bold;
}

.timerContainer .timerStart {
  margin-top: 20px;
}

.timerContainer .timerStart .startButton{
  border-radius: 5px;
  border-style: none;
  border-bottom: 6px solid var(--color-shadow-button);
  background: var(--color-button);
  color: var(--background-color-main-1);
  font-size: 25px;
  font-weight: bold;
  width: 25%;
  height: 60px;
}
