@import url("./pomodoro.css");

@media screen and (max-width: 570px) {
  header button p {
    visibility: hidden;
  }
  header button {
    width: 35px;
  }
  .authorPopup footer{
    visibility: hidden;
  }
}

@media screen and (max-width: 680px) {
  .timerContainer .timer{
    font-size: 100px;
  }
}

@media screen and (max-width: 400px) {
  .timerComponents .stopButtonContainer {
    right: -25px;
  }

}
